
$height : 80px;
$mainColor : #424242;
$textColor : #D4D8F4;


.sidebar-container {
    flex: 5;
    width: 100%;
    display: flex;
    height: 100%;
    position:sticky;
    top: 70px;
    z-index: 1;
    

    
    .sidebar{
        width: 18%; //
        border-top-right-radius: 23px;
        border-bottom-right-radius: 25px;
        height:calc(100vh - $height);
        background-color: $mainColor;
        color: $textColor;
        display: flex;
        position: relative;
        transition: all 1s ease;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
      
        

        
        .sidebar-item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            position: relative;
            padding-left: 3px;
            margin: 0 auto;
            transition: all 1s ease;
            .avatar{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                padding: 5px;
                position: relative;
                transition: all 1s ease;
                width: 100%;
                
                img{
                    width: 45px;//
                    height: 45px;//
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid $textColor;
                    padding: 2px;
                    margin-left: 10px;//
                    
                    
                }
                .name{
                    display: flex;
                    flex-direction: column;
                    overflow:hidden;
                    opacity: 0;
                    
                    .name-items{
                        font-size: 25px;
                        font-weight: 500;
                        
                    }
                    .name-status{
                        font-size: 12px;
                        font-weight: 200;
                        
                      
                    }
                    
                    
                    
                }
                .status{
                    position: absolute;
                    width: 15px;//
                    height: 15px;//
                    border-radius: 50%;
                    background-color: rgb(67, 204, 67);
                    left: 45px;//
                    bottom: 12px;

                }
                
                
            }
            .line{
                border-bottom: 1px solid $textColor;
                width: 90%;
                opacity: 0.4;
                margin-left: 2px;
                margin-top: 10px;
                

            }
            
          
            .top-side{
                margin-top: 15%;
                justify-content: space-between;
                padding: 5px;
                display: flex;
                flex-direction: column;
                gap: 30px;
            
              
                
              
                                              
                .top{
                    // background-color: aqua;
                    margin: 0 10px;
                    align-items: center;
                    display: flex;

                    
                    .top-icon{
                        color: $textColor;
                        font-size: 25px;
                        padding:0 8px;
                        padding-top: 5px;

                    }
                    span{
                        transition: all 0.5s ease;
                        font-size: 20px;
                        opacity: 0;
                        color: $textColor;
                        text-decoration: none;
                        
                        
                    }
                    &:hover {
                        border-radius: 10px;
                        background-color: white;
                        
                    }
                    &.active{
                        
                        background-color: rgb(240, 240, 240);
                        border-radius: 10px;
                    }  
                }
            }
            


        }
        .touch{
            background-color: $textColor;
            position: absolute;
            width: 5%;
            height: 10%;
            bottom: 50%;
            left: 95%;
            margin: 0 auto;
            border-radius: 25px;
            cursor: pointer;
            opacity: 0.6;
           


        }
        &:hover{
            width: 60%;
            .touch{
                background-color: $textColor;
                opacity: 1;
                
            }
            .sidebar-item{
                .avatar {
                    .name{
                        opacity: 1;
                    }
                }
                .top-side {

                    span{
                        
                        opacity: 1;
                    }
                }
                
            }
            //mobile:hover
            @media (max-width:768px){

                width: 100%;
                
                .sidebar-item{
                    
                    opacity: 1;
                    
                   
                    .avatar{
                        opacity: 1;

                        .name{ 
                            display: none;
                        }
                    }
                    .top-side {
                       .top-icon{
                        padding-left: 5px;
                       }
                        span{
                            display: none;
                        }
                        
                    }
                    
                }

            }
            // ipad : hover
            @media (min-width:769px) and (max-width:1280px){
                width: 100%;
                
                .top-side {
                    .top-icon{
                        opacity: 1;
                    }
                     span{
                        opacity: 0;
                     }
                     
                 }
                
                

            }


        }
        //mobile
        @media (max-width:768px) {
            // flex: 3;
            width:43%;
            padding: 0;
            margin: 0;
            
            .sidebar-item{
                    opacity: 0;
                    // padding: 0;
                .avatar{
                    opacity: 0;
                    .name{
                        display: none;
                        }
                    }
               
                    .top-side {
                     
                       .top{
                            margin: 0 auto;
                            .top-icon{
                            display: flex;
                            }
                            span{
                                display: none;
                            }
                            
                       }
                     }
            }
        }
        //ipad
        @media (min-width:769px) and (max-width:1280px){
            width:45%;
            // flex: 1;
            // display: none;
            .avatar{
                .name{
                    display: none;
                    }
                }
           
                .top-side {
                    .top{
                        margin: 0 auto;
                        .top-icon{
                            display: flex;
                            }
                        span{
                           opacity: 0;
                        }
                                
                   }
                     
                 }
                
            

        }
    


    }
   
    @media (max-width:768px){
        z-index: 1;
        transform: translateX(-10px);


    }
    @media (min-width:769px) and (max-width:1280px){
        transform: translateX(-10px);
        z-index: 1;

    }
    
}