
$height : 80px;
$mainColor : #424242;
$textColor : #D4D8F4;


.sidebar-container {
    flex: 0.4;
    width: 100%;
    display: flex;
    height: 100%;
    position:sticky;
    top: 70px;
    //test
    

    
    .sidebar{
        width: 40%;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 25px;
        height:calc(100vh - $height);
        background-color: $mainColor;
        color: $textColor;
        display: flex;
        position: relative;
        transition: all 1s ease;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
      
        

        
        .sidebar-item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            position: relative;
            padding-left: 3px;
            margin: 0 auto;
            transition: all 1s ease;
            .avatar{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                padding: 5px;
                position: relative;
                transition: all 1s ease;
                width: 100%;
                
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid $textColor;
                    padding: 2px;
                    
                }
                .name{
                    display: flex;
                    flex-direction: column;
                    overflow:hidden;
                    
                    .name-items{
                        font-size: 18px;
                        font-weight: 500;
                        
                    }
                    .name-status{
                        font-size: 12px;
                        font-weight: 200;
                        
                      
                    }
                    
                    
                    
                }
                .status{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: green;
                    left: 30px;
                    bottom: 15px;

                }
                
                
            }
            .line{
                border: 1px solid $textColor;
                width: 90%;
                opacity: 0.5;
                margin-left: 2px;
                margin-top: 10px;
                

            }
            
          
            .top-side{
                margin-top: 15%;
                justify-content: space-between;
                padding: 5px;
                display: flex;
                flex-direction: column;
                gap: 30px;
              
                
              
                                              
                .top{
                   
                    align-items: center;
                    display: flex;
                    
                    .top-icon{
                        
                        padding:0 8px;
                        padding-top: 5px;

                    }
                    span{
                        transition: all 0.5s ease;
                        opacity: 0;
                        
                    }
                    &:hover {
                        border-radius: 10px;
                        background-color: white;
                        
                    }
                    &.active{
                        
                        background-color: rgb(240, 240, 240);
                        border-radius: 10px;
                    }  
                }
            }
            


        }
        .touch{
            background-color: $textColor;
            position: absolute;
            width: 5%;
            height: 10%;
            bottom: 50%;
            left: 95%;
            margin: 0 auto;
            border-radius: 25px;
            cursor: pointer;
            opacity: 0.6;
           


        }
        &:hover{
            width: 100%;
            .touch{
                background-color: $textColor;
                opacity: 1;
                
            }
            .sidebar-item{
                .avatar {
                    .name{
                        opacity: 1;
                    }
                }
                .top-side {

                    span{
                        opacity: 1;
                    }
                }
                
            }
            //mobile:hover
            @media (max-width:768px){

                width: 100%;
                
                .sidebar-item{
                    
                    display: flex;
                    
                   
                    .avatar{
                        .name{
                            display: none;
                        }
                    }
                    .top-side {
                       .top-icon{
                        padding-left: 5px;
                       }
                        span{
                            display: none;
                        }
                        
                    }
                    
                }

            }
            // ipad : hover
            @media (min-width:769px) and (max-width:1280px){
                width: 100%;
                .top-side {
                    .top-icon{
                      display: flex;
                    }
                     span{
                         display: flex;
                     }
                     
                 }
                
                

            }


        }
        //mobile
        @media (max-width:768px) {
            
            width: 40%;

            .sidebar-item{
              display: none;
            }
        }
        //ipad
        @media (min-width:769px) and (max-width:1280px){
            width: 40%;
            .avatar{
                .name{
                    display: none;
                    }
                }
           
                .top-side {
                    .top-icon{
                      display: flex;
                    }
                     span{
                         display: none;
                     }
                     
                 }
                
            

        }
    


    }
   

   
    
}