.container-contents{
    flex: 4;
   
   
    //mobile
    @media (max-width:768px){

        flex: 3;
        width: 100%;
    }
    //ipad
    @media (min-width:769px) and (max-width:1280px){
        flex:7;
        padding: 0px;
       
        

    }

    .wapper-contents{
        

        padding:0 20px;
        
        //mobile
        @media (max-width:768px){
            width: 100%
        }
    }
}