.container-contents{
    flex: 4;
    padding:0 20px;
    // background-color: bisque;
    //mobile
    @media (max-width:768px){

        flex: 4;
        width: 100%
    }
    //ipad
    @media (min-width:769px) and (max-width:1280px){
        flex:4;
        padding: 0px;
       
        

    }

    .wapper-contents{
        //mobile
        @media (max-width:768px){
            width: 100%
        }
    }
}