.container-contents{
    flex: 5;
   

    //mobile
    @media (max-width:767px){
        width: 94%;
        // flex: 1;
        // padding-right:60px;padding-right
        z-index: 0;
        transform: translateX(-12%);
        


    }
    //ipad
    @media (min-width:769px) and (max-width:1280px){
        flex:15;
        padding: 10px;
        z-index: 0;
        
    }

    .wapper-contents{
       

        padding:0 50px;
        
        //mobile
        @media (max-width:768px){
            width: 100%;
            padding:0 10px;
            // padding-right: 50px;            
            // margin-left: 40px;;
            

        }
        @media (min-width:769px) and (max-width:1280px){
         
            width: 100%;
            // padding: 0 10px;
            padding: 0;
            
            
    
        }
    }
}