
$mainColor : #424242;
$textColor : #D4D8F4;


.signup-container{
    width: 100%;
    position: relative;
    background-color: #424242;
    .signup-wapper{
        
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        .signup-item{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
            background-color: aliceblue;

            border-radius: 15px;
            width: 84%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 80%;
            overflow: hidden;
            .left{

                width: 100%;
                height: 100%;
                flex: 1;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
              
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .text{
                    position: absolute;
                    color: #D4D8F4; 
                    font-size: 50px;
                    font-weight: 600;
                    left: 20%;
                    
                    span{
                        font-weight: 800;
                        font-size: 80px;

                    }
                }






            }

            .right{
                display: flex;
                flex: 1;
                flex-direction: column;;
                align-items: center;
                justify-content: space-around;
                height: 70%;
                
                h1{
                    padding-bottom:30px ;
                    letter-spacing: 15px;
                    // padding: 50px;
                    font-size: 70px;
                    font-weight: 800;
                    text-transform: lowercase;    
                   
                }
                h2{
                    color: red;
                    font-size: 18px;
                    font-weight: 400;
                    padding-bottom: 20px ;
                }
                
                .signup-form{
                  
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    margin-bottom: 20px;
                    .signup-input{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 25px; 
                       
                        input{
                            width: 500px;
                            padding: 15px;
                            outline: none;
                            border: none;
                            border-radius: 25px;
                            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                         
                            &:invalid[focused="true"] ~ span{
                                display: block;
                            }
                            &:invalid[focused="true"]{
                                border: 1px solid red;
                            }
                        
                           
                        }
                        .valid{
                            display: none;
                            color: red;
                            padding-left: 20px;
                            width: 500px;
                        }
                        .password{
                            position: relative;

                        
                            .watchPass{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 10%;
                                right: 2%;
                                background-color: transparent;
                                margin: 0 auto;
                                cursor: pointer;
                                padding-top:6px;
                                &:hover{
                                    opacity: 0.8;
                                }

                            }
                        }
                        
                       
                        

                    }
               
                    .submit{
                        transition: all 0.5s ease;
                        width:  50%;
                        padding: 8px;
                        outline: none;
                        border: none;
                        border-radius: 25px;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 600;
                        color: $textColor;
                        background-color: #000002;
                        &:hover{
                            background-color:$mainColor;
                           

                        }


                    }
                    .forgot-pw{
                        padding: 10px;
                       
                        font-size: large;
                        a{
                            color: #000002;
                        }

                    }
                   
                   
                }
                
                .span{
                    font-weight: 700;

                }
                .signup-social{
                    width:  100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    padding: 30px;

                    button{
                        
                        width:  30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        background-color: aliceblue;
                        cursor: pointer;
                        font-size: 15px;
                        gap :8px;
                        border-radius: 15px;
                        transition: all 1s ease;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        &:hover{
                            background-color: white;
                        }

                    }
                }



            }


        }
    }

    @media (max-width:768px){
        .signup-wapper{
            .signup-item{
                width: 100%;
                height: 100%;
                border-radius: 0;
                .left{

                    display: none;
                }
                .right{
                    
                   
                    .signup-form{
                        .user-name{

                            input{
                                width: 150px;
                                padding: 10px;
                            }
                        }
                        .signup-input{
                            input{
                                width: 300px;
                                padding: 10px;
                            }
                            .valid{
                                display: none;
                                color: red;
                                padding-left: 20px;
                                width: 300px;
                            }

                        }
                       
                    }
                    .signup-social{
                        button{
                            width: 50%;
                        }

                    }
                    
                }
            }
           

        }
    }
    @media (min-width:769px) and (max-width:1280px){
        .signup-wapper{
            
            .signup-item{
                width: 95%;
                height: 97%;
                // border-radius: 0;
                .left{

                

                    .text{
                        font-size: 30px;
                        span{ 
                            font-size: 40px;
                        }
                    }

                
                }
                .right{
                    h1{
                       padding-bottom:0px ;
                    }
                   
                    .signup-form{
                      
                        .signup-input{
                            input{
                                width: 360px;
                                padding: 15px;
                            }
                            .valid{
                                display: none;
                                color: red;
                                padding-left: 20px;
                                width: 360px;
                            }

                        }
                    }
                    .signup-social{
                        button{
                            width: 50%;
                        }

                    }
                    
                }
            }
           

        }

    }




}