
*{
  font-family: 'Blinker', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
