@import '../../gobal';
.friendMsg-container{
    // background-color: rgba($color: $bgColor, $alpha: 0.6);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        background-color: rgba($color: $colorMain, $alpha: 0.4); 
    }
    .items{
        // padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .last-msg{
            span{
                color: $textColor;
                font-size: 25px;
                font-weight: 600;
                text-overflow:ellipsis;
                max-width:50px;
                overflow: hidden; 
            }


        }
       
    }
    @media (max-width:767px){
        padding: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        .items{
            display: flex;
            flex-direction: column;
            gap: 0px;
           
            .last-msg{
                span{
                    font-weight: 600;
                    text-overflow:ellipsis;
                    max-width:20px;
                    overflow: hidden;
                    font-size: 10px;
                }
            }
        }
    }
}