@import '../../gobal';


.container-setting {
    flex: 5.2;
    padding-left: 40px;

    span{
        color: $textColor;

        font-size: 70px;
        font-weight: 900;
        padding-left:30px ;
        margin: 0 auto;
        
    }
    .wapper-setting{
        display: flex;
        position: relative;


        
       .left{
            color: $textColor;
            display: flex;
            flex: 1;
            padding-top: 40px;
            padding-left: 100px;      
            .left-items{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                gap: 10px;
               
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                span{
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    word-spacing: none;
                    text-overflow: ellipsis;
                    padding: 0;
                    
                  

                  }
                  

            }
          

        }
       .right{
            color: $textColor;
            flex: 3;
            .right-items{
                padding-top: 40px;  
                display: flex;
                flex-direction: column;
                gap: 10px;
                .fullname{
                    color: $textColor;

                    width: 70%;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    justify-content: center;
                    .name{
                        font-size: 20px;
                        font-weight: 700;
                        
                    } 
                    .name-items{
                        padding-top: 10px;
                        display: flex;
                        width:  100%;
                        position: relative;
                        align-items: center;
                        // background-color: aliceblue;
                        // height: 60px;
                        .name-input{
                            border-radius: 10px;
                            width: 80%;
                            padding: 10px;
                            border: none;
                            outline: none;
                            background-color: $textColor;
                        }
                        .btn-list{
                            display: flex;
                            position: absolute; 
                            right: 5px;
                            button{
                          
                                border: none; 
                                outline: none;
                                border-radius: 10px;
                                padding:  5px 10px;
                                cursor: pointer;
                                background-color: $white;
                                color: $black;
                                margin-left: 20px;
                                &:hover{
                                    background-color: rgba($color: $white, $alpha: 0.7);
                                }
                       
                            }
                            
                        }
                        .btn-edit{
                            position: absolute; 
                            right: 60px;
                            border: none; 
                            outline: none;
                            border-radius: 10px;
                            padding:  5px 15px;
                            cursor: pointer;
                            background-color: $white;
                            color: $black;
                            &:hover{
                                background-color: rgba($color: $white, $alpha: 0.7);
                            }
                        }
                        
                   }
                }
                .del-acc{
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 700;
                    background-color: #000000;
                    color: aliceblue;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: rgb(237, 46, 46);
                    }
                  }
                
            }
            
       }
    }
   
    
}
