@import '../../gobal';


.container-setting {
    flex: 5.2 ;
    
    span{

        font-size: 70px;
        font-weight: 900;
        margin: 0 auto;
        
    }
    .wapper-setting{
        display: flex;
        padding-top:20px ;
        position: relative;

        
       .left{
            display: flex;
            flex: 1;
            padding-top: 40px;
            padding-left: 40px;
            .left-items{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
               
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                span{
                    font-size: 30px;
                    font-weight: 600;
                    word-spacing: none;
                    text-overflow: ellipsis;
                  

                  }
                  

            }
          

        }
       .right{
            flex: 3;
            .right-items{
                padding-top: 40px;  
                display: flex;
                flex-direction: column;
                gap: 10px;
                .fullname{
                    width: 70%;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    justify-content: center;
                    .name{
                        font-size: 20px;
                        font-weight: 700;
                        
                    } 
                    .name-items{
                        padding-top: 10px;
                        display: flex;
                        width:  100%;
                        position: relative;
                        align-items: center;
                        .name-input{
                            width: 100%;
                            padding: 10px;
                            border: none;
                            outline: none;
                            border-radius: 10px;
                        }
                        .btn-list{
                            display: flex;
                            position: absolute; 
                            right: 5px;
                            button{
                          
                                border: none; 
                                outline: none;
                                border-radius: 10px;
                                padding:  5px 10px;
                                cursor: pointer;
                                background-color: black;
                                color: aliceblue;
                                margin-left: 20px;
                                &:hover{
                                    background-color: rgba($color: #000000, $alpha: 0.7);
                                }
                       
                            }
                            
                        }
                        .btn-edit{
                            position: absolute; 
                            right: 5px;
                            border: none; 
                            outline: none;
                            border-radius: 10px;
                            padding:  5px 10px;
                            cursor: pointer;
                            background-color: black;
                            color: aliceblue;
                            margin-left: 20px;
                            &:hover{
                                background-color: rgba($color: #000000, $alpha: 0.7);
                            }
                        }
                        
                   }
                }
                .del-acc{
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 700;
                    background-color: #000000;
                    color: aliceblue;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: rgb(237, 46, 46);
                    }
                  }
                
            }
            
       }
    }
   
    
}
.warning{
    width: 100%;
    position: absolute;
    background-color:rgba($color: $mainColor, $alpha: 0.7);
    height: calc(100vh - 60px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .warning-items{
        width: 300px;
        position: relative;
        background-color: #ffffff;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        
        .head-items{

            span{
                margin-top: 10px;
                font-size: 20px;
                font-weight: 500;

            }
            .icon{
                margin-top: 5px;
                margin-right: 5px;
                position: absolute;
                top: 0px;
                right: 0;
                cursor: pointer;
                :hover{
                    color: rgba($color: #000000, $alpha: 0.7);
                }
            }

        }
        .body-items{
            margin-bottom: 10px;
            display: flex;
            gap: 30px;
            button{
                cursor: pointer;
                border: none; 
                outline: none;
                border-radius: 10px;
                padding:  10px 20px;
                background-color: black;
                color: aliceblue;
                &:hover{
                    background-color: rgba($color: #000000, $alpha: 0.7);
                }   
            }
            
        }
    }
}
