@import '../../gobal';

.friendPage-wapper{
      .friend-img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
}