
$mainColor : #424242;
$textColor : #D4D8F4;


.login-container{
    width: 100%;
    position: relative;
    
    background-color: #424242;
    .login-wapper{
        
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        .login-item{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
            background-color: aliceblue;

            border-radius: 15px;
            width: 84%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 80%;
            overflow: hidden;
            .left{

                width: 100%;
                height: 100%;
                flex: 1;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
              
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .text{
                    position: absolute;
                    color: #D4D8F4; 
                    font-size: 50px;
                    font-weight: 600;
                    left: 20%;
                    
                    span{
                        font-weight: 800;
                        font-size: 80px;

                    }
                }






            }

            .right{
                display: flex;
                flex: 1;
                flex-direction: column;;
                align-items: center;
                justify-content: center;
                height: 70%;
                
               
                
                h1{
                    padding-bottom:30px ;
                    letter-spacing: 15px;
                    font-size: 70px;
                    font-weight: 800;
                    text-transform: lowercase;
                    // margin-top: -10px;



                    
                    
                   
                }
                h2{
                    color: red;
                    font-size: 18px;
                    font-weight: 400;
                }
                .login-form{
                    
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                  
                    .loign-input{
                        display: flex;
                        flex-direction: column;
                        gap: 10px; 
                        padding: 20px 0;
                                     
                        input{
                            
                            width: 500px;
                            padding: 15px;
                            outline: none;
                            border: none;
                            border-radius: 25px;
                            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                            margin-bottom: 20px;
                        }

                        

                    }
                    .submit{
                        transition: all 0.5s ease;
                        width:  50%;
                        padding: 8px;
                        outline: none;
                        border: none;
                        border-radius: 25px;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 600;
                        color: $textColor;
                        background-color: #000002;
                        &:hover{
                            background-color:$mainColor;
                           

                        }


                    }
                    .forgot-pw{
                        padding: 10px 0;
                        font-size: large;
                        a{
                            color: #000002;
                        }

                    }
                   
                    
                }
                .span{
                    font-weight: 700;
                 


                }
                .login-social{
                    padding: 10px;

                    width:  100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    button{
                        width:  30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        background-color: aliceblue;
                        cursor: pointer;
                        font-size: 15px;
                        gap :8px;
                        border-radius: 15px;
                        transition: all 1s ease;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        &:hover{
                            background-color: white;
                        }

                    }
                }



            }


        }
    }
    //mobile
    @media (max-width:767px){
        .login-wapper{
            .login-item{
                width: 100%;
                height: 100%;
                border-radius: 0;
                .left{

                    display: none;
                }
                .right{
                   
                    .login-form{
                        
                        .loign-input{
                            input{
                                width: 300px;
                                padding: 15px;
                            }

                        }
                    }
                    .login-social{
                        button{
                            width: 50%;
                        }

                    }
                    
                }
            }
           

        }
    }
    //ipad
    @media (min-width:768px) and (max-width:1280px){
        .login-wapper{
            
            .login-item{
                width: 95%;
                height: 98%;
                // border-radius: 0;   
                .left{

                    left: 0;

                    .text{
                        font-size: 30px;
                        span{ 
                            font-size: 40px;
                        }
                    }

                
                }
                .right{
                   height: 200px;
                   
                    .login-form{
                        
                        .loign-input{
                            input{
                                width: 300px;
                                padding: 10px;
                            }

                        }
                    }
                    .login-social{
                        button{
                            width: 50%;
                        }

                    }
                    
                }
            }
           

        }

    }



}