@import '../../gobal';

.comments-container{
    padding: 0 10px;
    max-height: 369px;
    overflow-y: auto;
    

    .comments-wapper{
        position: sticky;
        top: 0;
        background-color:$colorMain;
        z-index: 2;

        .comments-item{
           
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px 0;
            
            .comments-img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;

            }
            .comments-input {
                width:80%;
                border: none;
                outline: none;
                padding: 5px;
                resize: none;
                border-radius: 5px;
                &::-webkit-scrollbar{
                    display: none;
                }  
               

            }
            .comments-button{
                height: 50px;
                cursor: pointer;
                border: none;
                outline: none;
                padding: 5px;
                border-radius: 10px;
                background-color: $textColor;
                color: $mainColor;
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 5px;
                &:hover{
                    opacity: 0.7;
                    
                }
                
            }
            .active{
                height: 50px;
                gap: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                outline: none;
                padding: 5px;
                border-radius: 10px;
                font-size: 15px;
                &:hover{
                    opacity: 0.7;
                    
                }
            }
          


        }
    }
    &::-webkit-scrollbar{
        display: none;
    }

    .comment{
        display: flex;
        flex-direction: column-reverse;
    }
   
}
.more{

    color: $textColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 15px;
    cursor: pointer;
}
