$mainColor : #424242;


.container-home{
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1504333638930-c8787321eee0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    
    background-size:contain;

    
    // justify-content: flex-start;
}