
@import '../../gobal';
.post-container{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    position: relative;
    .post-wapper{
        margin: 0 auto;
        
        .post-items{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-color: $colorMain;
            border-radius: 5px;

            
            .user-info{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between; 
                color: $textColor;
               
                .user{
                    
                    align-items: center ;
                    display: flex;
                    margin: 10px;
                    gap :10px;
                    .name{
                        font-size: 18px;
                        cursor: pointer;
                        span{
                            text-decoration: none;
                            color: $textColor;
                        }
                        .time{
                            font-size: 14px;
                            opacity: 0.8;
                        }
                    }
                    .user-img{
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                   
                }
                .option{
                    // padding-right: 10px;
                    position: relative;
                    button{
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: $textColor;
                        &:hover{
                            color: rgba($color: $textColor, $alpha: 0.6);
                        }
                    }

                    .option-menu{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        z-index: 1;
                        width: 200px;
                        color: #000000;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        right: 50%;
                        border-radius: 10px;
                        align-items: center;
                        overflow: hidden;
                        span{
                            text-align: center;
                            width: 200px;
                            font-size: 20px;
                            font-weight: 500;
                            padding: 5px;
                            cursor: pointer;
                            &:hover{
                               
                                background-color: $softColor;
                                color: $textColor;
                            }
                           
                        }
                    }
                }
            }
            .line{
                border-top: 1px solid $textColor;
                width: 100%;
                opacity: 0.4;
                margin: 0 auto;
            }
            .desc{
                
                width: 100%;
                // background-color: $textColor;
                color: $textColor;
                max-height: 300px;
                padding: 10px 10px;
                margin-bottom: 10px;
                overflow-y: auto ;

                &::-webkit-scrollbar {
                    display: none;
                }
                
            }
            .post-img{
                
                display: flex;
                flex-wrap: wrap;
                
                .img{
                    height: 720px;
                    width: 100%;
                    object-fit: cover;
                   
                }

                
                
               
            }
            .post-info{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                color: $textColor;
                padding: 0 10px;
                font-size: 18px;
                opacity: 0.7;
                font-weight: 300;
                .like-count{
                    flex: 1;

                }

            }
            .post-action{

               .action-btn{
                width: 90%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding: 10px 0;
                .likeBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    border: none;
                    outline: none;
                    padding: 5px;
                    gap : 7px;
                    // background-color: white;
                    background-color: transparent;
                    border-radius: 25px;
                    cursor: pointer;
                    span{
                        transition: all 1s ease;
                        padding: 5px 15px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        &:hover{
                            color: rgb(126, 130, 130);
                            color: white ;
                            transform: scale(1.2);
        
                    }
                    .icon{
                        color: $textColor ;
                    }

                   
                    }

                    
                    span{
                        font-weight: 600;
                        font-size: 15px;
                        color: $textColor;
                    }
                    img{
                        transition: all 1s ease;
                        width: 30px;
                        height: 30px;
                    }
                    
                    
                }
                .active{
                    background-color:rgb(238, 78, 142);
                    .icon{
                        color: #000000;
                    }
                    span{
                        color: #000000;
                    }
                 }
               
            }
            }
        }
    }
}

@media (max-width:767px){
    .post-container{
        .post-wapper{
            .post-items{
                .user-info{

                }
                .post-action{
                    .action-btn{
                        width: 100%;
                        .likeBtn{
                            span{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}