@import '../../gobal';


.nav-container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    .navbar{
      
        width: 100%;
        background-color: $colorMain;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 0 auto;
        gap: 50px;
        .mobile-menu{
            display: none;
        }
        .logo{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 40px;
            padding-left:  20px;
            font-weight: 700;
            white-space: nowrap;
            letter-spacing: 5px;
            color: $textColor;
            cursor: pointer;
            img{
                width: 50px;
                height: 50px; 
                border-radius: 50%; 
                object-fit: cover;

            }
            
            @media (max-width:768px){
                display: none;
                
            }
            @media (max-width:1280px) {
                font-size: 35px;
                padding-left: 0px;

                
            }

       
    }
      
    //search-results
    .nav-items{
        flex: 0;
        display: flex;
        gap: 3px;
        justify-content: flex-end;
       
       .nav-user{
            display: flex;
            align-items: center;
            
            gap: 10px;
            .nav-link{
                display: flex;
                margin-right: 40px ;
                gap: 50px;
                color: $textColor;
                align-items: center;
                
                position: relative;
                .nav-link-btn{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: $black;
                    width: 40px;
                    height:40px;
                    background-color: rgb(205, 205, 205);
                    border-radius: 50%;
                    &:hover{
                        background-color: rgba(205, 205, 205,0.5);
                
                    }

                    
                }
                .count-right{
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    background-color: #f60f0f;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    right: -2%;
                    font-size: 12px;
                }
                .count-left{
                    font-size: 12px;

                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    background-color: #f60f0f;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    left: 20%;

                }
            }

           
            //menu
            .notifi-options {
                
                position: absolute;     
                right:0px;
                top: 90%;   
                background-color: rgb(240, 240, 240);
                left: 80%;
                border-radius: 15px;
                // display: none;

                .notifi-items{
                   
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px       ;
                    .items{
                        padding-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        img{
                            cursor: pointer;
                            width: 36px;
                            height: 36px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        p{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            font-size: 15px
                        }
                        span{
                            cursor: pointer;
                            font-size: 20px;
                            font-weight: 500;
                          
                        }

                    }
                    .close-btn{
                        width: 80%;
                        display: flex;
                        margin: 0 auto;
                        justify-content: center;
                        border: none;
                        outline: none;
                        background-color: $mainColor;
                        color: #D4D8F4;
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all 0.5 ease;
                        &:hover{
                            background-color: rgba($color: $mainColor, $alpha: 0.7);
                            
                        }
                    }
                }
                @media (max-width:768px){
                    // left: 80%;
                        
                }
                @media (min-width:1268px){
                    // left: 80%;
                        
                }


            }
       }

    }
   }
   @media (max-width:768px){
            
        .navbar{
            gap: 20px;
            .mobile-menu{
                display: block;
                flex: 0.5;
                span{
                    display: flex;
                    align-items: center;
                    color: $textColor;
                    cursor: pointer;
                    
                }
            }
            .nav-items{
                .nav-user{
                    .nav-link{
                        display: none;
                    }
                }
            }
        }

        }
       
  
}