$white: #ffff;
$black: #000000;
$mainColor : #424242;
$textColor : #D4D8F4;


.nav-container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    // padding-bottom: 10px;
    .navbar{
        width: 100%;
        background-color: $mainColor;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 0 auto;
        gap: 50px;
        .logo{
     
            font-size: 40px;
            padding-left:  20px;
            font-weight: 700;
            color: $textColor;
            cursor: pointer;
            
            @media (max-width:768px){
                display: none;
                
            }
            @media (max-width:1280px) {
                font-size: 35px;
                padding-left: 0px;

                
            }
        }
      
    //search-results
    .nav-items{
        flex: 0;
        display: flex;
        gap: 3px;
        justify-content: flex-end;
       
       .nav-user{
            display: flex;
            align-items: center;
            
            gap: 10px;
            .nav-link{
                display: flex;
                margin-right: 40px ;
                gap: 50px;
                color: $textColor;
                align-items: center;
                
                position: relative;
                .nav-link-btn{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: $black;
                    width: 40px;
                    height:40px;
                    background-color: rgb(205, 205, 205);
                    border-radius: 50%;
                    &:hover{
                        background-color: rgba(205, 205, 205,0.5);
                
                    }

                    
                }
                .count-right{
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    background-color: #f60f0f;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    right: -2%;
                    font-size: 12px;
                }
                .count-left{
                    font-size: 12px;

                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    background-color: #f60f0f;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    left: 20%;

                }
                @media (max-width:768px){
                    display: none;
                    
                }
            }

            img{
                width: 36px;
                height: 36px;
                object-fit: cover;
                border-radius: 50%;
            }
            .menu-icon{
                padding-top: 3px;
                padding-right: 10px;
                cursor: pointer;
                color: $white;
                &:hover{
                    
                    opacity: 0.8;
                }
            }
            @media (max-width:768px){
                flex: 1;
                justify-content: flex-end;
            }
            //menu
            .menu-options {
                position: absolute;
                right: 5px;
                top: 90%;
                left: 90%;
                background-color: antiquewhite;
                padding-left: 10px;
                border-radius: 15px;
                display: none;

                .menu-items{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    font-weight: 500;
                    cursor: pointer;
                }
                @media (max-width:768px){
                    left: 80%;
                        
                }
                @media (min-width:1268px){
                    left: 80%;
                        
                }


            }
       }

    }
   }
  
}