@import '../../gobal';
$iceColor : aliceblue;
$black : #000000;


.upload-tiem{
    width: 100%;
    height: 100vh;
    background-color: rgba($color: $mainColor, $alpha: 0.6) ;
    position: absolute;
    z-index: 99;
    left: 0;
    padding-top: 100px;
    position: fixed;
    .upload-wapper{
        display: flex;
        background-color: $colorMain;
        width: 500px;
        height: 600px;
        margin: 0 auto;
        flex-direction: column;
        border-radius: 15px;
        justify-content: space-around;
        position: relative;
       
        .loading{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $mainColor, $alpha: 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            .loading-item{

            }
            
        }
        
        
        
        .close{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .close-btn{
                border: none;
                outline: none;
                background-color: transparent;
                margin: 5px;
                cursor: pointer;
                width: 35px;
                height: 35px;
                color: $textColor;
                &:hover{
                    
                    opacity: 0.7;
                }
            }
           
        }
        .items{
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .create-title{
                font-size: 30px;
                font-weight: 700;
                color: $textColor;
            }
            .line{
                width: 100%;
                border-bottom: 1px solid rgba($color: $textColor, $alpha: 0.4);
            }   
            .input-upload{
                margin-top: 20px;
               
                display: flex;
                flex-direction: column;
                width: 90%;
                align-items: center;

                textarea{
                    height: 80px;
                    resize: none;
                    color: white;
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    column-count:unset;
                }
                .input-btn{
                    
                    border-radius: 15px;    
                    width: 100%;
                    height: 200px;
                    border: none;
                    
                   
                }
                .s-img{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 360px;
                    object-fit: contain;
                    
                }   
                

             
            }
            
        }
        .sub-btn{
            width: 50%;
            margin: 0 auto;
            padding: 5px;
            border-radius: 15px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color:$textColor;
            color: $black;
            font-size: 15px;
            transition: all 1s ease;

            &:hover{
                background-color: $black;
                color: $textColor;
            }

             
         }
        
    }

    @media (max-width:767px){



        .upload-wapper{
           width: 330px;
           height: 400px;
           z-index: 3;
           .items{

                .create-title{

                    font-size: 30px;
                }
                .input-upload{
                    align-items: center;
                    textarea{
                        height: 100px;
                    }
                    .input-btn{
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        height: 100px;
                        width: 100%;

                    }
                }
           }
        }
    }
    
}