@import '../../gobal';

.friend-container{
    display: flex;
    flex-direction: column;
    .friend{
        color: $textColor;
        padding-left:10px ;
        text-overflow: ellipsis;
        span{
            padding-left: 10px;
            font-size: 30px;
            font-weight: 6  00;
        }
    }
    .other{
        display: flex;
        flex-wrap: wrap;
    }
    .friends-items{
        display: flex;
        gap: 20px;
        justify-content: flex-start;    
        flex-direction: row;
        padding: 10px;
        max-height: 300px;
        overflow: hidden;
        .items{
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 5px;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid $textColor;
                padding: 2px;
                cursor: pointer;
            }
            h1{
                padding-top: 5px;
                color: $textColor;
                font-size: 12px;
                font-weight:500;
                cursor: pointer;
                max-width: 90px;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .more{
        color: $textColor;
        display: flex;
        flex-direction: row-reverse;
        padding: 5px;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}
