@import '../../gobal';


.profile-container{
   
    flex: 4;
    background-color: $bgColor;
    // overflow: hidden;
    
    .profile-warpper{
      
        padding-top: 10px ;
        display: flex;
        width: 100%;
        height: 100%; 
        margin: 0 auto;

        
        .profile-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 90%;
            .profile-top{
                position:relative;
                display: flex;
                margin: 0 auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
           
                
                
                .background{
                    z-index: 0;
                    position: relative;
                    border-radius: 25px;
                    height: 100%;

                    .background-img{
                        overflow: hidden;
                        border-radius: 25px;
                        height: 360px;
                        width: 700px;
                        object-fit: cover;
                    }
                    button{
                        height: 360px;
                        width: 700px;;
                        position: absolute;
                        left:0px;
                        bottom: 0px;
                        top: 0;
                        font-size: small;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        opacity: 0;
                        border-radius: 25px;
                        transition: all 1s ease;;
                        &:hover{
                            opacity: 0.4;
                            background-color: $mainColor;
                            color: #D4D8F4;
                        }
                        

                    }

                }
                .btn-fl{
                    width:80%;
                    position: relative;
                    display: flex;
                    .icon-open-remove{
                        position: absolute;
                        left: 28%;
                        top: 25px;
                        color: #ffffff;
                        cursor: pointer;
                        font-size: large;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                    .follow1{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        bottom: -60px;
                        padding: 5px;
                        width: 150px;
                        height: 35px;
                        border: none;
                        background-color: $colorMain;
                        color: $textColor;
                        border-radius: 10px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        span{
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                        }
                        &:hover{
                            background-color:aliceblue;
                            color: black;
                            border: 1px solid black;
                            transform: scale(1.1);  
                            
                        }


                    }
                    .follow2{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        bottom: -60px;
                        padding: 5px;
                        width: 150px;
                        height: 35px;
                        border: none;
                        background-color: $colorMain;
                        color: $textColor;
                        border-radius: 10px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        span{
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                        }
                        &:hover{
                            background-color:aliceblue;
                            color: black;
                            border: 1px solid black;
                            transform: scale(1.1);  
                            
                        }

                    }
                    .follow3{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        bottom: -60px;
                        top: 70px;
                        padding: 5px;
                        width: 150px;
                        height: 35px;
                        border: none;
                        background-color: $colorMain;
                        color: $textColor;
                        border-radius: 10px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        span{
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                        }
                        &:hover{
                            background-color:rgb(236, 73, 73);
                            color: rgb(255, 255, 255);
                            border: 1px solid black;
                            transform: scale(1.1);  
                            
                        }

                    }
                    .follow4{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        bottom: -60px;
                        top: 70px;
                        padding: 5px;
                        width: 150px;
                        height: 35px;
                        border: none;
                        background-color: $colorMain;
                        color: $textColor;
                        border-radius: 10px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        span{
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                        }
                        &:hover{
                            background-color:aliceblue;
                            color: black;
                            border: 1px solid black;
                            transform: scale(1.1);  
                             
                            
                        }


                    }
                    
                }

                .avatar{
                    justify-content: center;
                    display: flex;
                    position: relative;
                    margin: 0 auto;
                    transform: translateY(-50%);
                    align-items: center;
                    z-index: 1;
                    .avatar-img{
                        border: 6px solid $bgColor;
                        // padding: 2px;
                        border-radius: 50%; 
                        width: 130px;
                        height: 130px;
                        object-fit: cover;
                    }
                    button{
                        
                        width: 121px;
                        height: 121px;
                        position: absolute;
                        border-radius: 50%;
                        margin: 0 auto;
                        opacity: 0;
                        cursor: pointer;
                        transition: all 0.7s ease;
                        // position: relative;
                        &:hover{
                            opacity: 0.4;
                            color: #424242;
                        }
                        .input-avatar{
                            cursor: pointer;
                            width: 100px;
                            height: 200px;
                            overflow: hidden;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            


                        }

                    }
                }
                .name-user{

                    font-size: 30px;
                    transform: translateY(-50%);
                    font-weight: 800;
                    letter-spacing: 3px;
                    display: flex;
                    margin: 0 auto;
                    max-width: 70%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    color: $textColor;
                }
                .profile-mid{
                    color: $textColor;
                    display: flex;  
                    justify-content: space-between;
                    width: 100%;
                    margin: 0 auto;
                    padding: 20px;
           
                    p{
                        color: $textColor;
                        width: 200px;
                        text-align: center;       
                        font-size: 20px;
                        font-weight: 400; 
                    }
                    span{
                        
                        padding-right: 10px;
                        font-weight: 700;
                        font-size: 25px;

                    };

                }
            }
            .profile-bottom{
                
                width: 100%;
                display: flex;
                margin: 0 auto;
                height: 100%;

                .left{
                    flex: 1.2;
                    
                    padding: 10px;
                    
                    display: flex;
                    flex-direction: column;
                    
                    .introduce-item{
                        top: 70px;
                        position: sticky ;
                        background-color: $colorMain;
                        border-radius: 5px;
                        .introduce{
                            color: $textColor;
                            padding-left:10px ;
                        }
                        .desc{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            padding: 10px;
                            .desc-text{
                                color: $textColor;
                                max-height: 100px ;
                                width: 100%;
                                height: 90px;
                                text-align: center;
                                background-color: rgb(255, 255, 255);
                                border-radius: 5px;
                                color: #424242;
                                
                            }
                            .edit{
                                display: flex;
                                flex-direction: column;
                                width: 100%;    
                                textarea{
                                    padding-left: 10px;
                                    border: none;
                                    outline: none;
                                    border-radius: 5px;
                                    margin-bottom: 5px;
                                    resize: none;
                                }
                                .edit-desc{
                                    display: flex;
                                    gap: 10px;
                                    justify-content: center;
                                    align-items: center;
                                    .cancel-btn ,.update-btn{
                                        margin-top: 10px;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                        
                                        padding: 5px 10px;
                                        border-radius: 5px;
                                        color: $textColor;
                                        background-color: black;
                                        &:hover{
                                            background-color :aliceblue;
                                            color:black;
                                        }
                                    }

                                }


                            }
                            
                            .edit-btn{
                                border: none;
                                outline: none;
                                cursor: pointer;
                                padding: 3px;
                                width: 100%;
                                border-radius: 5px;
                                background-color: black;
                                color: $textColor;
                                &:hover{

                                    background-color: aliceblue;
                                    color:black ;
                                }


                            }
                        }
                        .info{
                            background-color: $colorMain;
                            width: 100%;
                            margin-top:10px;
                            padding-bottom: 10px;
                            border-radius: 5px;
                         
                            .detail{
                                color: $textColor;
                                padding-left:10px ;
                                text-overflow: ellipsis;
                            }
                            
                            .info-item{
                                height: max-content;
                                width: 93%;
                                margin: 0 auto;
                                border-radius: 5px;
                                background-color:white;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding-left: 10px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                // align-items: center;
                               
                                .info-icon{
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                    gap: 5px;
                                    padding-bottom: 10px;
                                    margin-bottom: 10px;
                                   
                                    p{
                                        text-overflow:ellipsis;
                                        word-wrap: break-word;
                                    }
                                    .veryfire{
                                         position: relative;
                                        width: 100%;
                                        span{
                                            position: absolute;
                                            top: 0;
                                            right: -30px;
                                            color: rgb(11, 11, 11);
                                            border-radius: 50%;
                                            text-align: center;
                                            
                                            
                                        }
                                    }
                                }
                               
                                .info-btn{
                                  
                                    display: flex;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    background-color: black;
                                    color: $textColor;
                                    &:hover{
                                        background-color: aliceblue;
                                        color:black ;
                                    }
                                }
                            }
                           
    
    
    
                        }
                        
    
                    }
                    
                    

                }
                .right{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    
                }
              


            }
            
            
            
           
            
            
        }


        //mobile
        @media (max-width:767px){
          
            
            .profile-item{
                .profile-top{
          
                 width: 100%;
                 margin: 0;
                 padding: 0;
                    .background{
                        .background-img{
                            width: 350px;
                            height: 200px;
                        }
                        button{
                            width: 220px;
                            height: 200px;  

                        }
                    }
                    .btn-fl{
                        .follow1{
                            left: -30px;
                            width: 100px;
                        }
                        .follow2{
                            right: -30px;
                            width: 100px;
                        }
                        .follow3{
                            left: -30px;
                            width: 100px;
                            z-index: 1;
                        }
                    }
                    .avatar{
                        .avatar-img{
                            width: 80px;
                            height: 80px;

                        }
                        button{
                            width: 80px;
                            height: 80px;

                        }
                    }
                    .name-user{
                       
                        transform: translateY(-20%);
                    }

                    .profile-mid{
                        width: 100%;
                        padding-top: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        
                        p{
                            font-size: 15px;
                            width: 100px;

                            span{
                                font-size: 20px;
                            }
                        }
                    }

                }
               
                .profile-bottom{
                    
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    .left{
                        
                        padding: 0;
                        .edit{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            textarea{
                              margin-bottom: 5px;
                            }
                           
                            
                        }
                    }
                    .right{
                       
                        
                    }

                }

            }



        }

        //ipad
        @media (min-width:768px) and (max-width:1280px){
            .profile-item{
                .profile-top{
                    width: 500px;
                    .background{
                        .background-img{
                            width: 500px;
                            height: 250px;
                        }
                        button{
                            width: 500px;
                            height: 250px;

                        }
                    }
                    .avatar{
                        .avatar-img{
                            width: 130px;
                            height: 130px;

                        }
                        button{
                            width: 125px;
                            height: 125px;

                        }
                    }
                    .name-user{
                        font-size: 30px;
                    }
                    .profile-mid{
                        width: 100%;
                        margin: 0;
                        
                    }

                }
                .profile-bottom{
                    
                    margin: 0 auto;
                    display: flex;
                 
                    flex-direction: column;
                    .left{
                        padding: 0;
                        .introduce{

                        }
                        .edit{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            textarea{
                              margin-bottom: 5px;
                            }
                           
                            
                        }
                    }
                    .right{
                       
                        
                    }

                }   

            }

    }

           

    }
    
}