$mainColor : #424242;
$textColor : #D4D8F4;


.share-container{ 
    margin: 0 auto;
    width: 100%;
    padding-top:10px ;
   
    .warpper-share{
        
        background-color:$mainColor;    
        height: 110px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
     
       
        .share-items{
            
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px ;
            gap: 20px;
           
            
            img{
                width: 50px;height: 50px;
                border-radius: 50%;
                object-fit: cover;
                padding: 3px;
                border: 1px solid $textColor;
            }
            .input-share{
                width: 80%;
                padding: 8px;
                border-radius: 25px;
                border: none;
                outline: none;
                cursor: pointer;
                &:hover{
                    
                    background-color: #b8b8b8;
                }
                
            }
           

        }
        .line{
            margin-top: 5px;
            border: 1px solid #333;
            width: 100%;
            opacity: 0.6;
        }
     
        .share-option{
          

            width: 100%;//
            margin: 0 auto;
            padding-top: 10px;
            
            
            .upload{
                width: 80%;
                display: flex;
                justify-content: space-between;
                // background-color: #87888d;
                border-radius: 15px;
                margin: 0 auto;
                .upload-btn{
                    width: 150px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    gap: 10px;
                    cursor: pointer;
                    background-color:transparent;
                    transition: all 1s ease;
                    border-radius: 15px;
                    margin-bottom: 5px;
                    


                    
                    img{
                        width: 30px;
                        height: 30px;
                        transition: all 1s ease;
                        object-fit: cover;

                       
                    }
                    span{
                        
                        font-size: 15px;
                        color: $textColor;
                        font-weight: 800;

                    }
                    &:hover{
                        background-color: rgb(250, 250, 250);
                        border-radius: 15px;
                        span{
                           
                            color:$mainColor;
                        }
                        img{
                            transform: scale(1.3);
                        }
                    }

                }

            }
            
           




        }
    
    }
    // .upload-items{
    //             position: absolute;
    //             width: 100%;
    //             height: 100%;
    //             background-color: $mainColor;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             top:0;
    //             left: 0;
    //             opacity: 0.9;
    //             .upload-wapper{
    //                 margin-top: 25px;
    //                 position: fixed;
    //                 background-color: rgb(28, 25, 25);
    //                 width: 25%;
    //                 height: 600px;
    //                 border-radius: 15px;
    //                 z-index: 1;
    //                 display: flex;
    //                 flex-direction: column;
    //                 align-items: center;

    //                 .close{
    //                     position:absolute;
    //                     right: 0;
    //                     margin: 10px;
    //                     transition: all 1s ease;
    //                     border-radius:5px;
                        
    //                     .close-btn{
    //                         margin: 0 auto;
    //                         padding-top: 2px;
    //                         cursor: pointer;
    //                         color: $textColor;
    //                         border: none;
    //                         outline: none;
    //                         background-color: transparent;
    //                     }
    //                     &:hover{
    //                         transform: scale(1.5);
    //                         opacity: 0.9;
    //                         color: white;
    //                         background-color: $mainColor;
                           

                            
    //                     }
    //                 }
    //                 .create-title{
    //                     font-size: 25px;
    //                     color: $textColor;
                        
                    
    //                 }
    //                 .line{
    //                     border-bottom: 1px solid $textColor;
    //                     width: 80%;
    //                     opacity: 0.2;
    //                 }


                  


    //             }
    //         }

    //mobile
    @media (max-width:767px){
        width: 100%;
        padding-top: 10px;
        margin: 0;
        .warpper-share{
            height: 115px;
            width: 100%;
            .share-items{
                img{
                    width: 40px;
                    height: 40px;
                }
                .input-share{
                    width: 70%;
                }
            }

            .share-option{
                width: 100%;
          
                
                .upload{
                    .upload-btn{
                        width: 100%;
                        
                        img{
                            width: 25px;
                            height: 25px;
                        }

                       span{
                        font-size: 10px;
                       }

                    }
                 
                }
            }
        }
        
    }
    //ipad
    @media (min-width:769px) and (max-width:1280px){
        width: 100%;
       
        .warpper-share{
            width: 100%;
            .share-items{

            }

            .share-option
            {
                width: 100%;
                .upload{
                    .upload-btn{
                        width: 100%;

                    }
                }
            }
        }
        
    }
        

    
    
}
.upload-items{
    background-color: aqua;
    width: 100%;
}
