@import '../../gobal';

.container-friend{
    flex: 5.2;
    margin-top: 20px;
    .container-friend{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    .tags{
        display: flex;
        gap: 20px;
        .tags-btn{
            font-size: 15px;
            padding: 5px 10px;
            font-weight: 600;
            background-color: $colorMain;
            color: $textColor;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                background-color: aliceblue;
                color: $colorMain;   
            }
        }
        .active{
            background-color: aliceblue;
            color: $colorMain;
        }
    }
}
@media (max-width:767px){
    .container-friend{
        margin: 0;
        padding-top: 20px;
        background-color:$bgColor;
        .tags{
            padding-left: 7px;
        }
       .container-friend{
            gap: 20px;
            padding-bottom: 10px;
       }
    }
}