@import '../../gobal';

.rightbar-container{
    flex: 1.3;
    position: sticky;
    top:70px;
    height: 100%;
    
    .rightbar-wapper{
        
        
        border-radius: 5px;
        max-height: 200px;
        overflow-y: auto;
        &::-webkit-scrollbar{
            display: none;;
        }
        background-color: $mainColor;
        .suggest-name{ 
            padding-left: 5px;
            font-size: 25px;
            font-weight: 700;
            color:$textColor;
            position: sticky;
            top: 0;
            background-color: $mainColor;
            z-index: 2;
        }
       
        


    }  
    
    
    .user-online{
        margin-top: 10px;
        background-color: $mainColor;
        border-radius: 5px;
        height: 585px;
        overflow-y: auto;
        width: 100%;
        &::-webkit-scrollbar{
            display: none;;
        }

        .user-online-name{
            padding: 0 5px;
            font-size: 25px;
            font-weight: 700;
            color:$textColor;
            position: sticky;
            top: 0;
            background-color: $mainColor;
            z-index: 2;
            
        }
    
    }
    
    @media (max-width:768px){
        display: none;    
    }
    @media (min-width:769px) and (max-width:1280px){
        display: none;    
        // flex: 1;
        flex: 2;
        .rightbar-wapper{


        }

    }

}

